%p.lead.my-5.animated.zoomIn Добро пожаловать!
.mt-4.animated.fadeInUp
  = link_to t('devise.login'),  new_user_session_path, class: 'btn btn-outline-danger btn-lg mr-1'
  = link_to t('devise.signup'), new_user_registration_path, class: 'btn btn-outline-danger btn-lg ml-1'
