%section.mt-5.pt-5
  .container
    .row.justify-content-center
      .col-12.col-md-8.col-lg-7.col-md-5
        .jumbotron.shadow.text-center
          .h2.mb-5
            Раздел в стадии разработки...
          .row.justify-content-center
            .col-6
              = image_tag asset_path('sleep.gif'), class: 'card-img animated fadeIn'

