=form_for Item.new, html: {class: 'item-form'} do |f|
  =f.file_field :file
  =f.submit t('mirrors.import'), class: 'btn'


-if @item

  -out_file=Paperclip.io_adapters.for(@item.file).read

  -b=[]

  -out_file.each_line do |line|
    -a=line.split(/\t|\r|\n/)
    -b.push a if a != []

  -ee=(b.sort_by {|key, value| value}).reverse!
  -jj=(b.sort_by {|key, value| value}).reverse!




  .mirror


    -@mirrors.each do |n|

      -if [1, 7, 12, 18, 23, 29, 34, 40, 45, 51, 56].include? n.id
        \ <div class="mirror-row">

      .mirror-col.tip
        %span.mirror-index=n.second_id
        %br/
        -if ee[n.real-1]
          %span.badge.badge-info(style="font-size:20px;font-weight:600")=ee[n.real-1].first
        -else
          %span &nbsp;

        - jj.delete(ee[n.real-1])
        - if ee[n.real-1]
          .tip-text
            / %span.badge.badge-info=n.weight
            %span=ee[n.real-1].last


      -if [6, 11, 17, 22, 28, 33, 39, 44, 50, 55, 61].include? n.id
        \ </div>

  -if !jj.empty?
    .well.mirror-delete
      %p
        %b=t('mirrors.dont_add')
      %ol
        -jj.each do |j|
          %li
            %span.badge.badge-info=j.first
            =j.last