.card
  = render 'main/header'
  .card-body
    .row
      - @cards.each do |card|
        .col-4
          %figure.figure
            = image_tag card.doc, class: "figure-img img-fluid rounded"
            %figcaption.figure-caption= card.title
