Приветствуем тебя, #{@profile.name}!
%br/
%br/
На сайте REDDEVIL появились новые спортивные события в блоке "#{@round.title}", которые ждут твоего точного прогноза.
%br/
%br/
Достаточно перейти по #{link_to 'ссылке', round_url(@round)}.
%br/
%br/
Желаем удачных прогнозов!
