Приветствую тебя, администратор!
%br/
%br/
На сайте REDDEVIL появилась новая #{link_to 'заметка', note_url(@note)}:
%br/
%br/
%p =========================
%p= @note.content
%p =========================
%br/
%br/
Удачного дня!
