.row
  .col
    %nav.mb-5(aria-label='breadcrumb')
      %ol.breadcrumb.h4.m-0
        %li.breadcrumb-item= link_to t('member.vacation'), vac_path, class: 'card-archive-link animated'
        %li.breadcrumb-item= title
