- if params[:controller] == 'users' && current_user != @user
  - title = t 'vacations.title'
  - current_rest_title = t('vacations.user_rest', username: @user.show_name(:petrovich))
- else
  - title = t 'vacations.my'
  - current_rest_title = t('vacations.you_rest')

.card-header
  = title

- if current_vacation
  .card-body= current_rest_title
- elsif current_vacations_soon
  .card-body
    - count_days = (DateTime.now.beginning_of_day..current_vacations_soon.startdate.beginning_of_day).count - 1
    = t('vacations.diff_days', till: plural(count_days, 'till', false), count: plural(count_days, 'day'))
    = t('vacations.start',
      date: Russian.strftime(current_vacations_soon.startdate, "%e %B"),
      diff: plural(TimeDifference.between(current_vacations_soon.enddate + 1.day, current_vacations_soon.startdate).in_days.to_i, 'day'))
