%nav(aria-label='breadcrumb')
  .row
    .col
      %ol.breadcrumb.h4
        %li.breadcrumb-item= link_to t('substrates.title'), substrates_path, class: 'card-archive-link animated'
        - titles.each do |title|
          %li.breadcrumb-item= title
