- btn_style = marker == :minus ? 'btn-danger' : 'btn-success'

= content_tag_for(:tr, user) do |follower|
  %td
    = user.surname_name
    = link_to fa_icon(marker),
      follow_substrate_path(substrate, user_id: user.id),
      class: "btn #{btn_style} btn-sm",
      method: :post,
      remote: true
