.card
  .card-body
    .row
      .col
        - if params[:action] == 'changes'
          = render 'breadcrumb', titles: [link_to(@substrate.title, @substrate), t('shared.history')]
        - else
          = render 'breadcrumb', titles: [t('shared.history')]

    .row
      .col
        - if @versions.empty?
          .text-center.my-5
            .h3.text-muted= t('history.empty')
        - else
          %table.table
            %thead
              %tr
                %th Дата
                %th Пользователь
                %th Действие
                %th Изменения
            %tbody
              = render(partial: 'version', collection: @versions)
