.well
  = form_for @comment, remote: true, html: { class: 'input-append' } do |f|
    = f.text_field :body, class: 'span9', required: true, maxlength: 1000
    = f.submit t('comments.send'), class: 'btn btn-primary btn-lg'
  %small= t 'comments.no_more'
