.col-xl-2.col-md-3.col-xs-12.col-sm-6.text-center
  = link_to [@user, folder], title: folder.title, data: { toggle: 'tooltip' }, class: 'text-muted' do
    .d-block= fa_icon 'folder 4x'
    = truncate folder.title, length: 15, separator: ' ', omission: '...'