.col-xl-2.col-md-3.col-xs-12.col-sm-6.text-center
  = link_to dataset.src.url, target: '_blank', title: dataset.src_file_name, data: { toggle: 'tooltip' }, class: 'text-muted' do
    = fa_icon 'file 4x', type: 'far'
    .d-block= truncate dataset.src_file_name, length: 15, separator: ' ', omission: '...'
    %small= link_to t('shared.del'), [@user, @folder, dataset], method: :delete, data: { confirm: t('shared.sure') }
