.row
  .col-md-6.offset-md-3
    .alert.alert-primary(role='alert')
      %h4.alert-heading Корректировка email для учетных записей
      %p
        Для всех учетных записей была произведена коррекция записи email, с учетом имени обновленного домена "luch.com.ru".
        То есть, если ранее при входе на сайт вы указывали свою почту так: "name@luch.podolsk.ru", то теперь необходимо указывать: "name@luch.com.ru".