.card
  .card-body
    %h4= @type.title
  .card-footer
    = link_to t('.back', :default => t("helpers.links.back")), types_path, class: 'btn btn-secondary'
    = link_to t('shared.edit'), edit_type_path(@type), class: 'btn btn-secondary'
    = link_to t('shared.del'), type_path(@type), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-danger'
