.control-group
  = c.label :data, c.object.column.name, class: 'control-label'
  .controls
    .input-append.date
      =# c.object.data.to_datetime
      = c.text_field :data, class: 'datepicker', value: (c.object.data.to_datetime.strftime('%d.%m.%Y') if c.object.data.present?)
      %span.add-on
        %i.icon-th
