.modal-dialog(role='document')
  .modal-content
    = bootstrap_form_for [year, purchase], remote: true, layout: :horizontal do |f|
      .modal-body= f.text_field attr
      .modal-footer
        %button.btn.btn-default(data-dismiss='modal')= t 'shared.close'
        = f.primary
