-if purchase[attr].present?
  -object_property = if (type == 'date')
    - short_date purchase[attr]
  -elsif type == 'price'
    - number_to_currency(purchase[attr], precision: 2, delimiter: ' ', unit: nil)
  -else
    - purchase[attr]
-else
  -object_property = content_tag(:div, content_tag(:i, '',  class: 'icon icon-plus'), class: 'btn btn-mini purchase-actions')
-if current_user && (current_user.role? :admin)
  = link_to object_property, get_form_purchase_path(purchase, element: attr, type: type), data: {target: "#dialog_#{attr}", toggle: 'modal'}, class: 'modal-link', remote: true
  .modal.hide.fade(tabIndex='-1' role='dialog' aria-hidden="false" id="dialog_#{attr}")
