$primary: blue;
$secondary: #ccc;
$white: #fff;

.chat-empty {
  color: darken($secondary, 1%);
  position: absolute;
  width: 100%;
  top: 40%;
}

.chat {
  border: 1px solid lighten($secondary, 10%);
  background: #eee;
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.chat-message-container {
  padding: 5px;

  .message-content {
    padding: 5px;
    border-radius: 5px;
  }

  & + .chat-message-container {
    margin-top: 10px;
  }
}
