.card
  .card-header
    = link_to event.title, [event.user, event]
  .card-body
    %p= event.content
  - if can? :manage, [event.user, Event]
    .card-footer
      = link_to t('shared.edit'), edit_user_event_path(event.user, event)
      = link_to t('shared.del'), [event.user, event], method: :delete, data: { confirm: t('shared.sure') }


