= link_to 'Каталог на юбилей института', root_path << 'catalog.pdf', target: '_blank'

= video_tag "/video_mini.mp4", size: "800x480", controls: true, type: 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
