.card
  .card-header
    = render 'application/breadcrumb', titles: [@page.title], class_name: Page do
      - if can? :update, @page
        .float-right
          = link_to fa_icon(:edit), edit_page_path(@page), class: 'btn btn-primary'

  .card-body
    .row.mt-4
      .col
        = m @page.content