.row.justify-content-center
  .col-6
    .card.bg-dark.text-white.my-5
      = image_tag asset_path('matthew.gif'), class: 'card-img animated fadeIn'
      .card-img-overlay
        .h1.animated.fadeInLeft ##{@code}
        .h3.animated.fadeInRight ошибочка вышла
