.row.nested-fields
  .col
    = f.text_field :name, prepend: Column.human_attribute_name(:name), hide_label: true
  .col-4
    = f.select :column_type,
      Table::TYPES,
      { include_blank: t('categories.select_category'), prepend: Column.human_attribute_name(:column_type), hide_label: true }
  .col-auto
    = link_to_remove_association fa_icon('trash'), f, class: 'btn btn-danger'
