.d-none{"data-role" => "message-template"}
  .chat-message-container
    .row.no-gutters
      .col-1
      .col
        .message-content.bg-white
          %p.mb-1{"data-role" => "message-text"}
          .text-right
            %small.text-muted{"data-role" => "message-date"}
      .col-1.text-center
        %img.mx-2{ alt: "", "data-role" => "user-avatar", src: "" }/
