.card-header
  .row
    .col-auto
      %span.h4 Инфоцентр отделения ОиИТ
      - if can? :manage, InfocenterCategory
        = link_to fa_icon('cog'), manage_infocenter_categories_path, class: 'btn btn-outline-primary btn-sm'
    .col
      = render 'tabs'