@import 'mixins';

.art-title {
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  padding-top:14px;
  color: #aaa;
  font: {
    size: 15px;
    weight: 600;
  }
}

.devilgallery {
  .img-polaroid {margin-bottom:10px;margin-right:10px}
}