@import 'mixins';

#doc-list .doc {
  @include transition(box-shadow .2s ease-in-out);
  box-shadow: none;
  &:hover { box-shadow: 0 0 10px rgba(0,0,0,.2);}
}

.label-pad {margin-right: 5px}

.save-wspace p{white-space: pre-wrap}

.doc .panel-title {
  font-size: 14px;
}

.doc-item {
  & {margin-bottom: 5px}
  &:hover {background: rgb(225, 225, 225)}
}