@import 'mixins';

html {
  font-size: 14px;
}

body {
  background: rgba(0, 68, 189, 0.23) asset-url('greydots.png') repeat;
}

.nowrap {white-space: nowrap}

.navbar-brand .brand-letter {
  font: {
    family: Georgia, 'Times New Roman', Times, serif;
    size: 20px;
    weight: 700;
  }
  background: red;
  color: #fff;
  display: inline-block;
  width:25px;
  height:25px;
  margin-right: 1px;
  text-align: center;
  padding-bottom: 29px;
}

#wrapper {
  min-height:100%;
  position:relative;
  #error_explanation {
    /*!!!!!!!!!!!! @extend .alert;
      @extend .alert-error;
    */
    ul {
      list-style: none;
      margin: 0 0 18px;
    }
  }
}

.sec-links {display:none;}

.nav-tabs > .active {
  & > a, & > a:hover, & > a:focus {outline:none}
}

.tip-text {display:none;}
.tip {cursor: help}

#top-link-block{
  &.affix-top {position:absolute;bottom:-82px;left:10px;}
  &.affix {position:fixed;bottom:18px;left:10px}
  &:hover a, &:focus a, & a:active, & a:visited, & a:link {text-decoration:none;}
}

.nav-reddevil {
  .slide-link.hide {@include opacity(.5)}
}

footer {margin-top:50px;}

.nowrap {white-space: nowrap}

.remote-link {color: #0088cc;border-bottom: 1px dotted #0088cc;cursor:pointer}

.img-circle-bordered {border: 1px solid #ccc}

.table-white {background-color: #fff}

.icon-before {padding-right: 5px;}

.panel-body p:last-child {margin-bottom: 0}

.pointer {cursor: pointer}

.bg-yellow {
  background-color: yellow
}

.bg-red-10{
  background-color: rgba(255, 0, 0, 0.05)
}

.badge-violet {
  background-color: violet
}

.bg-blue {
  background-color: #d2e7f8;
}

.bg-darkblue {
  background-color: #9dbfe2;
}

.bg-salat {
  background-color: #b3d4ce;
}


.table-violet {
  background-color: #ffd5ff;
}

.zoom-photo:hover {
  cursor: -webkit-nesw-resize;
  cursor: -moz-nesw-resize;
  cursor: nesw-resize;
}

.card-img-overlay-w100 {
  height:35px;
  overflow: hidden;
}

.card-img-top-fixw {
  overflow: hidden;
  height: 200px;

  img, table {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.card-cog {
  position: absolute;
  right: 5px;
  top: 5px;
}

.main-menu svg{
  min-width: 25px;
}