@import 'mixins';

.member {
  .membername {cursor:pointer}
  .fa-chevron-down,
  .fa-chevron-up {color: #ddd;}
  .hidden_info{
    display:none;
    margin-top:15px;
    cursor:auto;
    @for $i from 2 to 1 {
      p:nth-child(#{$i}) {
        @include duration(.5s * $i);
        @include delay(.3s);
      }
    }
  }
}

.icon-padding-r{margin-right: 10px;}

.bg-danger.bg-primary {
  background: repeating-linear-gradient(45deg, #dc3545, #dc3545 10px, #007bff 10px, #007bff 20px);
}

.bg-danger.bg-info {
  background: repeating-linear-gradient(45deg, #dc3545, #dc3545 10px, #17a2b8 10px, #17a2b8 20px);
}

.bg-danger.bg-info.bg-primary {
  background: repeating-linear-gradient(45deg, #dc3545, #dc3545 10px, #17a2b8 10px, #17a2b8 20px, #007bff 20px, #007bff 30px);
}