.member {
  .membername {cursor:pointer}
  .glyphicon-chevron-down,
  .glyphicon-chevron-up {color: #ddd;}
  .hidden_info{display:none;margin-top:15px;cursor:auto}
}

.icon-padding-r{margin-right: 10px;}