@import 'mixins';

.purchases-table {
  overflow-x: auto;
  font-size:11px;
  thead {background: #eee}
  th {text-align:center}
  td {
    position:relative;
    .modal-link {
      color: #666;
      &:hover, &:active {text-decoration:none;border-bottom:1px dashed #666;}
    }
    .purchase-actions {
      position:absolute;
      left:5px;
      bottom:5px;
      @include transition(opacity .5s);
      @include opacity(0);
    }
    &:hover .purchase-actions{@include opacity(1);}
  }
}