@import 'mixins';

table.rounds{
  overflow: hidden;
  font-size:12px;
  tr:hover {background-color: rgba(220, 220, 220, .3)}
  td:hover::after, th:hover:after {
    content: "";
    position:absolute;
    background-color: rgba(220, 220, 220, .3);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
  }
  td:hover {background-color: rgba(220, 220, 220, 1);}
  td, th {position: relative;}
  td.success {
    background-color: #d9edf7;
    box-shadow: none;
    @include transition(box-shadow .3s);
    .total {font-weight:600;}
    &:hover {
      @include box-shadow(0 0 10px rgba(0,0,0,.3));
    }
  }
  td.match-ending {color: #999;font-weight:600;line-height:25px;}
  .tip b{color: #3993cd;border-bottom: 1px dashed #3993cd;}
  .ending {color: #999;}
}

.match-info {
  color: #28a745;
  font-size: 22px;
}