@import 'mixins';

.likees-count,
.likees-album-count {
  color: #999;
  font-size: 10px;
  text-transform: uppercase;
  li.active & {color: #fff}
}

.song-icons {
  i {
    margin: 2px 5px 0;
    &:hover,
    &:visited,
    &:link,
    a:active {text-decoration:none;outline:none}
  }
}

li.song {
  line-height:20px;
}

.fa-star {color: #ff9900;}

li.song, li.album, .breadcrumb{
  i {
    @include opacity(.15);
    @include transition(opacity .2s ease-in-out);
  }
}
li.song:hover i, li.album:hover > .title i, .breadcrumb:hover i{
  @include opacity(.8);
  @include transition(opacity .2s)
}

li.sm2_playing {
  .badge {color: #666 !important}
}

ul.playlist {
  li.sm2_playing,
  li.sm2_paused,
  li.sm2_playing {
    .dropdown,
    .dropdown a {
      color:#666;
    }
  }
}

.repeat-link{
  .fa-repeat {
    @include opacity(0);
    @include transition(opacity .2s ease-in-out);
  }

  li.sm2_playing & .fa-repeat {@include opacity(.2)}
  li.sm2_playing &:hover,
  li.sm2_playing &.active {
    .fa-repeat{
      @include opacity(.8);
    }
  }
}