@import 'mixins';

.table-substrates {
  thead {background: #eee}
  th {white-space:nowrap}
  th.big-tr {width:300px;}
  .substrate-title {
    .substrates-actions {display:none;position:absolute;margin-left:5px;}
    &:hover .substrates-actions {display:inline-block;}
  }

  tr {
    .handle-box {
      @include transition(opacity .5s);
      @include opacity(0);
      position:absolute;
      left:-30px;
      height:100%;
      top:0;
      background:white;
      width:30px;
      text-align:center;
      vertical-align:middle;
    }
    .handle-box i{
      top:20%;
      position:absolute;
      left:20%;
      font-size:20px;
      color:#666;
      @include transition(color .5s);
      &:hover {color:#000;cursor:move}
    }

    &:hover {
      .handle-box {@include opacity(1);}
    }

    &.not-coating > td {
      background-color: #f2dede
    }
    &.not-coating:hover > td {
      background-color: #f2cfcf
    }

    &.defect > td {
      background-color: #ffccb0
    }
    &.defect:hover > td {
      background-color: #ffbc98
    }
  }

  td{vertical-align:middle;}

  td.substrate-state {
    padding:0;
    padding-left:5px;
    text-aling:center;
  }

}
select.substrate-select {
  width:88px;
  border: none;
  padding: 0;
  margin:0;
}