.table-substrates {
  thead {background: #eee}
  th {white-space:nowrap}
  th.big-tr {width:300px;}
  .substrate-title {
    .substrates-actions {display:none;position:absolute;margin-left:5px;}
    &:hover .substrates-actions {display:inline-block;}
  }

  td.substrate-state {
    padding:0;
    padding-left:5px;
    text-aling:center;
    vertical-align:middle
  }

}
select.substrate-select {
  width:88px;
  border: none;
  padding: 0;
  margin:0;
}

