.table-substrates {
  thead {background: #eee}
  th {white-space:nowrap}
  th.big-tr {width:400px;}
  .substrate-title {
    .substrates-actions {display:none;position:absolute;margin-left:5px;}
    &:hover .substrates-actions {display:inline-block;}
  }
}