.team-commands {
  .team-name {
    img {
      border: 1px solid #999;
      width: 20px;
    }
  }
}
td.team-commands{
  width:160px;
  text-align:right;
  .team{clear:both;}
  .team-name {
    float:left;
    line-height:30px;
  }
  .team-goal {float:right;font-weight:600;}
  .team-name,
  .team-goal {line-height:25px}
}

.team-flag {
  border: 1px solid #999;
}