.panel.panel-default
  .panel-heading
    .panel-title
      = t 'categories.title'
      %span.pull-right
        = link_to t('shared.add'), new_category_path, class: 'btn btn-primary btn-xs'
  .panel-body
    %ol= render @root_categories
