.card
  .card-header
    = t 'categories.title'
    %span.float-right
      = link_to t('shared.add'), new_category_path, class: 'btn btn-primary btn-sm'
  .card-body
    - if @root_categories.any?
      %ol
        = render @root_categories
    - else
      .text-center.my-5
        .h3.text-muted
          = t('shared.nothing')