.page-header
  %h3
    = t 'years.title'
    - if can? :new, Year
      %small= link_to t('.new', :default => t("helpers.links.new")), new_year_path, :class => 'btn btn-sm btn-primary'
- @years.each do |year|
  .well
    %h2
      = link_to year.year, [year, Purchase]
      %small.text-muted= plural(year.purchases.pluck(:id).count, 'purchase')
