%footer.container-fluid
  .row
    .col-xs-6
      %span.text-muted &copy; LUCH 2014-2018
    .col-xs-6.text-right
      = link_to notes_path do
        %i.glyphicon.glyphicon-cog
        = t 'notes.find_error'
