%nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.navbar-xmas
  = link_to root_path, class: 'navbar-brand' do
    %span.brand-letter>< R
    %span>< EDDEVIL
  %button.navbar-toggler{ type: 'button', aria: { collapse: 'false', controls: 'reddevil-collapse', expanded: "false", label: "Toggle navigation" }, data: { toggle: 'collapse', target: '#reddevil-collapse' } }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#reddevil-collapse
    %ul.navbar-nav.mr-auto
    %ul.nav.navbar-nav.navbar-right
      = render 'users/userbar'
