!!!
%html.h-100{ lang: 'ru' }
  = render 'layouts/header'

  %body.h-100
    %section.h-100
      .container.h-100
        .row.h-100.justify-content-center.align-items-center
          .col-12.col-md-8.col-lg-7.col-md-5.text-center
            .jumbotron.shadow
              .mb-2
                .navbar-brand.animated.zoomIn
                  .brand-letter(style="font-size:50px;line-height:50px;height: 50px;width: 50px;")>< R
                  %span(style="font-size:48px;line-height:50px;height: 50px;width: 50px;")>< EDDEVIL
              - if flash_messages
                .row
                  .col= flash_messages

              = yield
