%p{class: bdclass}
  -if !bdclass.empty?
    %i.icon.icon-gift(style="font-size:20px;margin-right:10px;")
  =l member.birth,  format: :very_short
  \ -
  =member.full_name
  (#{turntext + ' ' + plural(DateTime.now.year - member.birth.year, 'year')})