.well
  = f.text_field :startdate, class: 'datepicker', value: (f.object.startdate.to_datetime.strftime('%d.%m.%Y') if f.object.startdate.present?)
  = f.text_field :enddate, class: 'datepicker', value: (f.object.enddate.to_datetime.strftime('%d.%m.%Y') if f.object.enddate.present?)
