- set_meta_tags title: t('member.archive')

.row
  .col-md-12
    .card
      .card-header
        = render 'panel_top'
      - if @members.any?
        %table.table.my-0
          %tbody
            = render partial: 'members/tr_member', collection: @members, as: :member
      - else
        .text-center.my-5
          .h3.text-muted
            = t('shared.search_empty')
