- set_meta_tags title: t('member.vacation')

.row
  .col-md-12
    .card
      .card-header
        = render 'panel_top'
      .card-body
        %table.table.table-striped
          = render partial: 'member_holiday', collection: @members
