- set_meta_tags title: t('member.title')

.row
  .col-xs-12
    .well
      = render 'current_member', member: @current_member if @current_member
      = render 'panel_top'
      = render 'members', members: (@members - [@current_member])
