- if columnship.data?
  - object_property = if (columnship.column.column_type == 'datetime')
    - short_date columnship.data.to_datetime
  - elsif columnship.column.column_type == 'price'
    - number_to_currency(columnship.data, precision: 2, delimiter: ' ')
  - elsif columnship.column.column_type == 'one_reference'
    - Member.where(id: columnship.data).first.surname_init
  - elsif columnship.column.column_type == 'many_references'
    - Member.where(id: columnship.data).order(:surname).map { |m| m.surname_init }
  - elsif %w[boolean status].include? columnship.column.column_type
    - select_text(columnship.data)
  - else
    - columnship.data
- else
  - object_property = content_tag(:span, 'пусто', class: 'text-muted')

= object_property
- if columnship.column.column_type == 'boolean' && columnship.data == 'true'
  %span.text-muted (#{short_date columnship.row.updated_at.to_datetime})