%p
  Здравствуйте #{@resource.email}!
%p Кто-то, возможно Вы, запросил смену пароля. Вы может сделать это, для этого достаточно перейти по ссылке:
%p= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @token)
%p Если вы не запрашивали смену пароля, просто игнорируйте данное письмо.
%p Ваш пароль не поменяетя, пока вы не перейдете по указанной ссылке и не укажите новый пароль.
